body {
    font-family: Arial;
}

h1 {
    text-align: center;
    color: #0077AA;
    text-transform: uppercase;
    letter-spacing: 0.2em;
	font-style:small-caps;
}


table {
    margin: 0 auto;
    border: 2px solid #191970; 
    background-color: #EFEFFF; 
    border-spacing: 8px; 
    empty-cells: show;
}


caption {
    caption-side: bottom;
    font-style: italic;
    font-size: 0.9em;
    padding-top: 5px;
    color: #333333;
}


thead th, 
tbody th, 
tfoot th {
    background-color: #0077AA;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: bold;
}


tbody td {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: center;
}


tfoot td {
    background-color: #CCCCCC;
    color: #191970;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}


th[scope="row"] {
    text-align: center;
}