body {
	font-family:Arial;
}


h1,h2 {
	font-style:small-caps;
	color:#0077AA;
	letter-spacing:5pt;
	text-align:center;
	width:670pt;
}

h1 {
	font-size: 36px;
	margin-top: 50px;
	margin-bottom: 50px;
}

h2 {
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 25px;
}

div {
	width:670px;
	align-content: center;
}

.bordes_encabezado {
	border-top: 2px;
	border-bottom: 2px;
	color:#0077AA;
	height:80px;
	width:670px;
	padding-top: 20px;
	padding-bottom: 20px;
}