body {
    font-family: Arial, sans-serif;
}

#contenedor {
    width: 670pt;
    margin: 0 auto;
    text-align: justify;
}

h1, h2 {
    font-variant: small-caps;
    color: #0077AA;
    letter-spacing: 5pt;
    text-align: center;
    width: 670pt;
}

h1 {
    font-size: 36pt;
    margin-top: 50pt;
    margin-bottom: 50pt;
}

h2 {
    font-size: 14px;
    margin-top: 25pt;
    margin-bottom: 25pt;
}

#bordes_encabezado {
    border-top: 2pt solid #0077AA;
    border-bottom: 2pt solid #0077AA;
    height: 80pt;
    width: 670pt;
    padding-top: 20pt;
    padding-bottom: 20pt;
}

#encabezado {
    width: 580pt;
    margin: 0 auto;
}

#encabezado img {
    width: 120pt;
    height: 90pt;
    opacity: 0.5;
    margin-left: 10pt;
    margin-right: 10pt;
}

#activa {
    border: 1pt solid #0077AA;
    opacity: 1;
}

#encabezado img:hover {
    opacity: 0.85;
    cursor: pointer;
}

#encabezado img:active {
    opacity: 0.25;
    cursor: wait;
}

#bloque_imagen {
    width: 500pt;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: auto;
    margin-right: auto;
}

#bloque_imagen img {
    width: 500pt;
}

ul {
    list-style-type: square;
}

li {
    padding-right: 20pt;
    padding-bottom: 10pt;
}

#pie {
    text-align: center;
    color: white;
    background-color: #CCCCCC;
    padding: 5pt;
}