/* Ejemplo 1 */

body {
	font-variant:small-caps;
	font-family:arial;
	font-weight:bold;
	font-size:24px;
	}

table {
	width:100%;
	}

td {width:15%; height:15%}	
	
.aqua {
	color : aqua;
}

.black {
	color : black;
}

.blue {
	color : blue;
}

.fuchsia {
	color : fuchsia;
}

.gray {
	color : gray;
}

.green {
	color : green;
}

.lime {
	color : lime;
}

.maroon {
	color : maroon;
}

.navy {
	color : navy;
}

.olive {
	color : olive;
}

.orange {
	color : orange;
}

.purple {
	color : purple;
}

.red {
	color : red;
}

.silver {
	color : silver;
}

.teal {
	color : teal;
}

.white {
	color : white;
}

.yellow {
	color : yellow;
}