/* Ejemplo 1 */
body { 
background-color:#a9cb88;
background-repeat:no-repeat;
background-image: url(Images/bg1.jpg);
background-position: center top;
}

h1 {
	color:#ffffff;
	text-decoration:overline;
	font-variant:small-caps;
	font-family:arial;
	letter-spacing:5px;
	font-size: 36px;
}

