/* Ejemplo 1 */
body { 
background-color:#a9cb88;
background-image: url(Images/bg1.jpg);
background-repeat:no-repeat;
background-position: center center;
background-attachment:fixed;

}

h1,h2,p { 
color:#ffffff;
font-family:arial;
}

h1 {
	text-decoration:overline;
	font-variant:small-caps;
	letter-spacing:5px;
	font-size: 36px;
}

